# ZDI

ZDI_ENV=testing
ZDI_TIMEZONE=Europe/London
ZDI_USER_GROUP_ID=1000
ZDI_USER_GROUP_NAME=debian
ZDI_USER_ID=1000
ZDI_USER_NAME=debian

ZDI_DIR_WEB=/home/web
ZDI_DIR_WEB_APP="${ZDI_DIR_WEB}/laravel"
ZDI_DIR_WEB_APP_ROOT="${ZDI_DIR_WEB_APP}/public"
ZDI_WEB_DOMAIN=captcha.zdev

ZDI_ADD_COMPOSER=true
ZDI_VERSION_COMPOSER=2.8.7
ZDI_VERSION_PHP=8.4

ZDI_DB_NAME=captcha
ZDI_DB_PASSWORD=password
ZDI_DB_USERNAME=captcha

ZDI_HOST_IP=127.0.0.26



# App

APP_NAME='Captcha Testing'
APP_ENV="${ZDI_ENV}"
APP_KEY=
APP_DEBUG=true
APP_URL="https://${ZDI_WEB_DOMAIN}"
APP_TIMEZONE="${ZDI_TIMEZONE}"

DB_CONNECTION=mariadb
DB_HOST=captcha-mariadb
DB_DATABASE="${ZDI_DB_NAME}"
DB_USERNAME="${ZDI_DB_USERNAME}"
DB_PASSWORD="${ZDI_DB_PASSWORD}"
